#circle {
    border-radius: 100%;
    background-color: #4381A8;
    width: 70px;
    height: 70px;
    font-size: 45px;
    color: #FFFFFF;
    display: flex;
    font-family: 'Bubblegum Sans';
    align-items: center;
    justify-content: center;
}