@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}

#HeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.HeaderRight {
  margin-right: 50px;
}

.HeaderRight>button {
  margin: 15px;
}

header>div>button {
  background-color: transparent;
  font-family: "Bubblegum Sans";
  color: #4381a8;
  font-weight: 400;
  font-size: 30px;
  border: none;
}

/* --------------------------------------Body-------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  background-color: #f5f387;
}

/* --------------------------------------Body-------------------------------------- */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 8%;
  background-color: rgba(23, 98, 167, 0.73);
  margin-top: auto;
}

.FooterLeft {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
  width: 20%;
}

.FooterLeft>button {
  margin-left: 2%;
}

.FooterRight {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-right: 10%;
  width: 20%;
}

footer>div>button {
  background-color: transparent;
  font-family: "Bubblegum Sans";
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  border: none;
}