@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Bubblegum Sans';
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}

#HeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

#HeaderRight {
  display: flex;
  flex-direction: row;
  margin-right: 50px;

}

#HeaderRight>button {
  margin: 15px;
}

#circle {
  border-radius: 100%;
  background-color: #4381A8;
  width: 70px;
  height: 70px;
  font-size: 45px;
  color: #FFFFFF;
  display: flex;
  font-family: 'Bubblegum Sans';
  align-items: center;
  justify-content: center;
  margin: 15px;
}

header>div>button {
  background-color: transparent;
  font-family: "Bubblegum Sans";
  color: #4381a8;
  font-weight: 400;
  font-size: 30px;
  border: none;
}

/* --------------------------------------Body-------------------------------------- */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f387;
}

section {
  position: relative;
  min-height: 80%;

}

/* --------------------------------------Body-------------------------------------- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(23, 98, 167, 0.73);
}

.FooterLeft {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
  width: 20%;
}

.FooterLeft>button {
  margin-left: 2%;
}

.FooterRight {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-right: 10%;
  width: 20%;
}

footer>div>button {
  background-color: transparent;
  font-family: "Bubblegum Sans";
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  border: none;
}