@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Bubblegum Sans";
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}

#HeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

#HeaderRight {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

#HeaderRight>button {
  margin: 15px;
}

#profil {
  position: relative;
  cursor: pointer;
}

.circle {
  border-radius: 100%;
  background-color: #4381a8;
  width: 70px;
  height: 70px;
  font-size: 45px;
  color: #ffffff;
  display: flex;
  font-family: "Bubblegum Sans";
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.popup_sign {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  right: 0%;
  top: 90%;
  width: 200px;
  height: 100px;
  /* display */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*sytle*/
  background-color: white;
  border: 1px solid black;
}


.popup_sign button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 50%;
  cursor: pointer;
  font-size: 20px;
}

.popup_sign button:hover {
  background-color: #d9d9d9;
}

header>div>button {
  background-color: transparent;
  font-family: "Bubblegum Sans";
  color: #4381a8;
  font-weight: 400;
  font-size: 30px;
  border: none;
}

/* --------------------------------------Body-------------------------------------- */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f387;

}

section {
  position: relative;
  min-height: 80%;
  display: flex;
}

img {
  height: 80%;
  width: 80%;
}

button {
  transition: ease-out .2s;
}

button:hover {
  transform: scale(1.05);
  transition: ease-in .2s;
}

/* --------------------------------------Body-------------------------------------- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(23, 98, 167, 0.73);
}

.FooterLeft {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
  width: 20%;
}

.FooterLeft>button {
  margin-left: 2%;
}

.FooterRight {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-right: 10%;
  width: 20%;
}

/* disable clicks */
.overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

/* logout container */
.log_out {
  visibility: hidden;
  /* aligning center  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* styling */
  font-size: 30px;
  background-color: #fffefe;
  border: 2px solid #4381a8;
  text-align: center;
  padding: 20px;
  width: 35%;
  z-index: 99999;
}

#logout_btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 5px;
}

#logout_btns>button {
  font-family: "Bubblegum Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
  width: 180px;
  padding: 10px;
  background: #d92828;
  border: none;
  border-radius: 5px;
}

/* edit profil  */
#edit_profile_popup {
  /* hide it until it is clicked */
  visibility: hidden;
  /* positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* styling  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #4381a8;
  border-radius: 5px;
  background-color: #fff;
  width: 35%;
  z-index: 999999;
}

#edit_profile_popup h3 {
  cursor: pointer;
  padding: 5px 25px;
  color: rgb(21, 21, 21);
  transition: ease .2s;
}

#edit_profile_popup h3:hover {
  border-radius: 15px;
  background-color: #efefef;
  transition: ease .2s;
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#inputs>input {
  border: 1px solid #4381a8;
  border-radius: 5px;
  margin-top: 15px;
  padding: 5px;
  width: 80%;
  height: 35px;
  font-size: 24px;
}

#submit_edit {
  border: 2px solid #4381a8;
  background-color: #fff;
  color: #d92828;
  border-radius: 5px;
  outline: none;
  padding: 10px 25px;
  font-size: 22px;
  margin-top: 15px;
}


/* footer */
footer>div>button {
  background-color: transparent;
  font-family: "Bubblegum Sans";
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  border: none;
}